* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;;
}

*:focus {
    outline: #192841;
    transition-duration: .125s;
}

body {
    background-color: #d5dee7;
}

main {
    padding: 40px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

header {
    background: #192841;
    color: #fff;
    text-align: center;
    margin: 0 -8px;
}

footer {
    text-align: center;
    padding-bottom: 200px;
}

h1 {
    margin-top: -10px;
    padding: 30px; 
    font-size: 1.7em;
}

h2,
legend {
    font-size: 1.45rem;
    color: #192841;
}

h2:not(:first-child),
legend {
    padding: 35px 0;
}

label,
p {
    color: #777;
}

input:focus,
select:focus,
textarea:focus {
    border: 3px solid #192841 !important;
    background-color: #fff !important;
}

input,
select {
    margin: 15px 0;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
    display: block;
    width: 100%;
    height: 50px;
    border-color: #f4f4f4;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: none;
}

input::placeholder,
select {
    font-size: 15px;
}

input[required]::placeholder {
    text-align: right;
    
}

label[for="comment"]{
    display: inline-block;
    padding-top: 20px;
}

select:not(:valid) {
    color: #aaa;
  }

option {
    color: #000;
}

textarea {
    width: 100%;
    border-color: #f4f4f4;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: none;
    resize: none;
    margin: 20px 0;
}

form div:first-child{
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    font-size: 30px;
    color: #fff;
    background-color: orangered;
    border: 2px solid orangered;
}

button:hover {
    
    background-color: #fff;
    color: orangered;
    transition-duration: .5s;
    transition-property: all;
}

/* Class Styles */

.newsletter label:not(:last-of-type) {
    display: inline-block;
    padding-left: 15px;
}

.newsletter label:last-of-type{
    width: 100%;
}

.signup_head {
    text-align: center;
    border-bottom: 3px solid #192841;
    margin-bottom: 3px;
    padding-bottom: 20px;
}

legend {
    border-top: 2px solid #192841;
    width: 100%;
}


.newsletter {
    margin-top: 2em;
}

#zip {
    width: 50%;
}

/* Media Queries */

@media(min-width: 768px){
    form div:first-child{
        flex-direction: row;
        flex-wrap: wrap;
        background-color: orangered;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    select {
        display: inline-block;
        width: 70%;
        height: 50px;
    }
    label {
        width: 29%;
        display: inline-block;
    }
    
    main {
        width: 50%;
        margin: 50px auto 40px auto;
    }

    #zip {
        width: 25%;
    }
}